<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>信長{% if view|length > 0 %} - {{ view }}{% endif %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style type="text/css">
      body { background: #0A0A0A; color: #EEE; font-size: 0.8em; }
      th { text-decoration: underline; text-decoration-color: #E0FFFF; color: #61D6C4; }
      td { color: #BBEAFE; }
      .card { background: #0F0F0F; border-color: #222; }
      h1 { font-size: 6em; font-weight: bolder; }
    </style>
  </head>
  <body>
      <div class="text-center py-5">
          <h1>信長</h1>
      </div>

      <div class="container">
        {% block body %}{% endblock %}
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>
